<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
    <div class="container px-4 py-2" id="admin-panel" data-aos="fade-right">
      <h2 class="pb-1 border-bottom">ADMIN PANEL</h2>
      <% if (locals.accounts.length > 0) { %>
        <div class="form-floating">
				  <input type="text" class="form-control" id="searchBox" onkeyup="findUser()" placeholder="Search by name.." style="width: 100%; height: 10%;">
				  <label for="searchBox">Search by name..</label>
				</div>
        <br>
        <table class="table" id="accountTable">
          <thead>
            <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
            <% locals.accounts.forEach(account => { %>
              <tbody>
                <tr>
                  <th scope="row"><img src="<%= account.avatar %>" style="width: 50px; height: 50px; border-radius: 50%;"></th>
                  <td><%= clean(account.first_name.charAt(0).toUpperCase()) + clean(account.first_name.slice(1)); %>&nbsp; <%= clean(account.last_name.charAt(0).toUpperCase()) + clean(account.last_name.slice(1)); %></td>
                  <td><%= clean(account.email) %></td>
                  <td>
                    <!-- BEGIN VERIFICATION STATUS-->
                    <% if (Number(account.account_featured) === 1) { %>
                      <a class="btn btn-small btn-success" style="width: 150px;" disabled>FEATURED</a>
                    <% } else if (Number(account.account_verified) === 0) { %>
                      <a class="btn btn-small btn-danger" style="width: 150px;" disabled>UNVERIFIED</a>
                    <% } else if (Number(account.account_verified) === 1) { %>
                      <a class="btn btn-small btn-success" style="width: 150px;" disabled>VERIFIED</a>
                    <% } %>
                    <!-- END VERIFICATION STATUS-->
                  </td>
                  <td><a class="btn btn-small btn-secondary" style="width: 150px;" href="/admin/edit/<%= account.id %>">MANAGE</a></td>
                </tr>
              </tbody>
          <% }) %>
        </table>
        <% } else { %>
          <p>There are no makers in the database to display</p>
        <% } %>

        <!-- BEGIN PAGINATION-->
        <% if (locals.total > 1) { %>
          <nav>
          <ul class="pagination justify-content-center" data-bs-theme="dark">
            <% if (locals.offset === 0) { %>
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <% } else { %>
            <a class="page-link" href="/admin/page/<%= locals.page - 1 %>" tabindex="-1"> 
            Previous
            </a>
            <%  } %>
            <% var i = (Number(locals.page) > 5 ? Number(locals.page) - 4 : 1) %>
            <% for(; i <= (Number(locals.page) + 4) && i <= locals.total; i++) { %>
            <% if (locals.page === i) { %>
              <li class="page-item active">
              <a class="page-link" href="#"><%=i%> <span class="sr-only">
                (current)
              </span></a>
            </li>
            <% } else { %>
              <li class="page-item">
              <a class="page-link" href="/admin/page/<%=i%>">
                <%=i%>
              </a>
              </li>
            <% } %>
            <% } %>
            <li class="page-item">
            <% if ((locals.page + 1) > locals.total) { %>
              <li class="page-item disabled">
              <a class="page-link">Next</a>
              </li>
            <% } else { %>
              <a class="page-link" href="/admin/page/<%= locals.page + 1 %>">
              Next
              </a>
            <% } %>
            </li>
          </ul>
          </nav>
          <%}%>
        <!-- END PAGINATION-->
    </div>
	</div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>

<script>
  function findUser() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchBox");
    filter = input.value.toUpperCase();
    table = document.getElementById("accountTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>