<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
		<div class="container px-4 py-2" id="admin-panel" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">MANAGE ACCOUNT</h2>
			<h4 class="h4 mb-3 fw-normal pb-1" id="admin-response-top"></h4>
			<br>
			<!-- BEGIN ACCOUNT TABLE-->
			<table class="table" id="accountTable">
				<thead>
				  <tr>
					<th scope="col">Avatar</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Actions</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><img src="<%= account.avatar %>" style="width: 50px; height: 50px; border-radius: 50%;"></td>
					<td><%= clean(locals.account.first_name.charAt(0).toUpperCase()) + clean(locals.account.first_name.slice(1)); %>&nbsp; <%= clean(locals.account.last_name.charAt(0).toUpperCase()) + clean(locals.account.last_name.slice(1)); %></td>
					<td><%= clean(locals.account.email) %></th>
					<!-- BEGIN ACTION BUTTONS-->
					<td>
						<a class="btn btn-small btn-secondary" style="width: 150px;" href="/admin/account/edit/<%= account.id %>">EDIT</a>&nbsp;
						<% if (Number(locals.account.account_verified) === 0) { %>
							<form class="verifyAccount" id="<%= account.id %>" action="/api/account/verify" style="display: inline; margin: 0px; padding: 0px;"><button type="submit" class="btn btn-secondary" style="width: 150px;">VERIFY</button></form>&nbsp;
						<% } %>

						<% if (Number(locals.account.account_featured) === 0) { %>
							<form class="featureAccount" id="<%= account.id %>" action="/api/account/feature" style="display: inline; margin: 0px; padding: 0px;"><button type="submit" class="btn btn-secondary" style="width: 150px;">FEATURE</button></form>&nbsp;
						<% } else { %>
							<form class="unfeatureAccount" id="<%= account.id %>" action="/api/account/unfeature" style="display: inline; margin: 0px; padding: 0px;"><button type="submit" class="btn btn-danger" style="width: 150px;">UNFEATURE</button></form>&nbsp;
						<% } %>

						<% if (roles.includes('banned')) { %>
							<form class="unbanAccount" id="<%= account.id %>" action="/api/account/unban" style="display: inline; margin: 0px; padding: 0px;"><button type="submit" class="btn btn-danger" style="width: 150px;">UNBAN</button></form>&nbsp;
						<% } else { %>
							<form class="banAccount" id="<%= account.id %>" action="/api/account/ban" style="display: inline; margin: 0px; padding: 0px;"><button type="submit" class="btn btn-danger" style="width: 150px;">BAN</button></form>&nbsp;
						<% } %>
					</td>
					<!-- END ACTION BUTTONS-->
				  </tr>
				</tbody>
			  </table>
			  <!-- END ACCOUNT TABLE-->
			  <br>

			  <!-- BEGIN PRODUCT TABLE-->
			  <h2 class="pb-1 border-bottom">MANAGE PRODUCTS</h2>
			  <% if (locals.products.length > 0) { %>
				<table class="table" id="accountProductTable">
					<thead>
					<tr>
						<th scope="col">Product Name</th>
						<th scope="col">Delete Product</th>
					</tr>
					</thead>
					<% locals.products.forEach(product => { %>
						<tbody>
						<tr>
							<td><%= product.product %></td>
							<td>
								<a class="btn btn-small btn-secondary" style="width: 150px;" href="/admin/product/edit/<%= product.id %>">EDIT</a>&nbsp;
								<form class="deleteProduct" id="<%= account.id %>" action="/api/product/delete" style="display: inline; margin: 0px; padding: 0px;"><a class="btn btn-small btn-danger" style="width: 150px;">DELETE</a></form>
							</td>
						</tr>
						</tbody>
					<% }) %>
				</table>
			  <% } else { %>
				<p>This maker has no products to display</p>
			  <% } %>
			  <!-- END PRODUCT TABLE-->
			  <br>
			  <br>
			  <!-- BEGIN APPLICATION INFORMATION-->
			  <h2 class="pb-1 border-bottom">MANAGE APPLICATION</h2>
			  <% if (locals.application === null) { %>
				<p>This maker has no application to display</p>
			  <% } else { %>
				<table class="table" id="applicationTable">
					<thead>
					  <tr>
						<th scope="col">University ID</th>
						<th scope="col">Program</th>
						<th scope="col">Business</th>
						<th scope="col">Signature</th>
						<th scope="col">Status</th>
						<th scope="col">Actions</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td><%= clean(locals.application.university_id) %></td>
						<td><%= clean(locals.application.program) %></td>
						<td><%= clean(locals.application.business) %></th>
						<td><%= clean(locals.application.signature) %></th>
						<td><%= clean(locals.application.status) %></th>
						<!-- BEGIN ACTION BUTTONS-->
						<td>
							<a class="btn btn-small btn-secondary" style="width: 150px;" href="/admin/application/<%= application.id %>">MANAGE</a>&nbsp;
						</td>
						<!-- END ACTION BUTTONS-->
					  </tr>
					</tbody>
				  </table>

			  <% } %>
			  <!-- END APPLICATION INFORMATION-->
		</div>
	</div>
 	<!-- END PAGE CONTENT-->

	<!-- Include scripts-->
	<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="application/javascript" src="/js/network.js"></script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>
</body>
</html>