<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/account.css" rel="stylesheet">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<!-- BEGIN PROFILE SETTINGS-->
		<div class="container px-4 py-2" id="update-account-header" data-aos="fade-right">
			<h2 class="border-bottom">MANAGE ACCOUNT</h2> 
			<h4 class="h4 mb-3 fw-normal pb-1" id="update-account-response"></h4>
			<form class="updateUserProfile" action="/api/account/updateProfile">
                <div class="mb-4 d-flex justify-content-center">
                    <input type="file" id="avatar" class="avatar__input" name="avatar" accept="image/png, image/jpeg, image/gif, image/jpg" value="Upload Picture" onchange="loadFile(event)">
                    <label for="avatar" class="avatar">
                        <div class="img-overlay">
                            <img src="<%= locals.account.avatar %>" alt="Avatar" id="user-avatar" class="avatar">
                        </div>
                    </label>
                </div>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-firstname" name="update-firstname" placeholder="Jane" maxlength="254" value="<%= clean(locals.account.first_name) %>" required>
					<label for="update-firstname">First name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-lastname" name="update-lastname" placeholder="Doe" maxlength="254" value="<%= clean(locals.account.last_name) %>" required>
					<label for="update-lastname">Last name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-video" name="update-video" placeholder="tgbNymZ7vqY" maxlength="254" oninput="YouTubeGetID(document.getElementById('update-video').value)" value="<%= clean(locals.account.video_link) %>">
					<label for="update-video">Video introduction code (YouTube link)</label>
				</div>
				<br>
                <div class="form-floating">
					<textarea class="form-control" id="update-biography" name="update-biography" placeholder="Biography" rows="10" maxlength="1000" style="resize: none; height:100%; white-space: pre-wrap; overflow-wrap: break-word;"><%= clean(locals.account.biography, {wordwrap: false, preserveNewlines: true,}) %></textarea>
                    <label for="update-biography">Biography</label>
				</div>
				<br>
                <input type="hidden" id="account-id" name="account-id" value="<%= locals.account.id %>">
				<button class="btn btn-dark w-100 py-2" type="submit">Update Account</button>
			  </form>
		</div>
		<!-- END PROFILE SETTINGS-->
		<br>
		<br>
		<!-- BEGIN SOCIAL SETTINGS-->
		<div class="container px-4 py-2" id="update-socials-header" data-aos="fade-right">
			<h2 class="border-bottom">MANAGE SOCIALS</h2> 
			<h4 class="h4 mb-3 fw-normal pb-1" id="create-socials-response"></h4>
			<form class="createSocialMediaLink" action="/api/socials/create">
				<div class="form-floating">
					<input type="url" class="form-control" id="social-media-link" name="social-media-link" placeholder="Link" maxlength="255">
					<label for="social-media-link">Link</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Add Link</button>
				</form>
				<br>
				<% if (locals.socials.length > 0) { %>
					<table id="link-table">
					<tr>
						<th>URL</th>
						<th>Action</th>
					</tr>
					<% locals.socials.forEach(link => { %>
						<tr id="row-<%= link.id %>">
							<td><%= clean(link.url) %></td>
							<td><form class="deleteSocialMediaLink" id="<%= link.id %>" action="/api/socials/delete"><button class="btn btn-dark w-100 py-2">DELETE</button></form></td>
						</tr>
					<% }) %>
					</table>
				<% } else { %>
					<p id="no-links">You have no links to display</p>
					<table id="link-table" hidden>
						<tr>
							<th>URL</th>
							<th>Action</th>
						</tr>
					</table>
				<% } %>
		</div>
		<!-- END SOCIAL SETTINGS-->
  	</div>
 	<!-- END PAGE CONTENT-->

	<!-- Include scripts-->
	<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="application/javascript" src="/js/helpers.js"></script>
	<script type="application/javascript" src="/js/network.js"></script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>