<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/account.css" rel="stylesheet">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<!-- BEGIN PROFILE SETTINGS-->
		<div class="container px-4 py-2" id="update-profile-header" data-aos="fade-right">
			<h2>YOUR PROFILE</h2> 
			<h4 class="h4 mb-3 fw-normal pb-1 border-bottom" id="update-profile-response"></h4>
			<form id="update-profile-form">
                <div class="mb-4 d-flex justify-content-center">
                    <input type="file" id="avatar" class="avatar__input" name="avatar" accept="image/png, image/jpeg, image/gif, image/jpg" value="Upload Picture" onchange="loadFile(event)">
                    <label for="avatar" class="avatar">
                        <div class="img-overlay">
                            <img src="/avatar_images/<%= locals.session.makerAvatar %>" alt="Avatar" id="user-avatar" class="avatar">
                        </div>
                    </label>
                </div>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-firstname" name="update-firstname" placeholder="Jane" maxlength="254" value="<%= clean(locals.account.first_name) %>" required>
					<label for="update-firstname">First name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-lastname" name="update-lastname" placeholder="Doe" maxlength="254" value="<%= clean(locals.account.last_name) %>" required>
					<label for="update-lastname">Last name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-video" name="update-video" placeholder="tgbNymZ7vqY" maxlength="254" oninput="YouTubeGetID(document.getElementById('update-video').value)" value="<%= clean(locals.account.video_link) %>">
					<label for="update-video">Video introduction code (YouTube link)</label>
				</div>
				<br>
                <div class="form-floating">
					<textarea class="form-control" id="update-biography" name="update-biography" placeholder="Biography" rows="10" maxlength="1000" style="resize: none; height:100%; white-space: pre-wrap; overflow-wrap: break-word;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'><%= clean(locals.account.biography, {wordwrap: false, preserveNewlines: true,}) %></textarea>
                    <label for="update-biography">Biography</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Update Profile</button>
			  </form>
		</div>
		<!-- END PROFILE SETTINGS-->
		<br>
		<br>
		<!-- BEGIN SOCIAL SETTINGS-->
		<div class="container px-4 py-2" id="update-socials-header" data-aos="fade-right">
			<h2>YOUR LINKS</h2> 
			<h4 class="h4 mb-3 fw-normal pb-1 border-bottom" id="create-social-response"></h4>
			<form id="create-social-form">
				<div class="form-floating">
					<input type="url" class="form-control" id="social-media-link" name="social-media-link" placeholder="Link" maxlength="255">
					<label for="social-media-link">Link</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Add Link</button>
				</form>
				<br>
				<% if (locals.links.length > 0) { %>
					<table>
					<tr>
						<th>URL</th>
						<th>Action</th>
					</tr>
					<% locals.links.forEach(link => { %>
						<tr>
							<td><%= clean(link.url) %></td>
							<td><button class="btn btn-dark w-100 py-2" onclick="window.location.href='/socials/edit/<%= link.id %>';">EDIT</button></td>
						</tr>
					<% }) %>
					</table>
				<% } else { %>
					<p>You have no links to display</p>
				<% } %>
		</div>
		<!-- END SOCIAL SETTINGS-->
  	</div>
 	<!-- END PAGE CONTENT-->

	<!-- Include scripts-->
	<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="application/javascript" src="/js/response.js"></script>
	<script type="application/javascript" src="/js/request.js"></script>

	<script>
		const updateAccount = document.getElementById('update-profile-form');
    	updateAccount.addEventListener('submit', (e) => {
      		e.preventDefault();

      		const formID = 'update-profile-form';
      		const outputID = 'update-profile-response';
            const fileID = 'avatar';
      		const endpoint = '/api/account/update';
			const redirect = '/account/manage';

			document.getElementById(outputID).innerHTML = "";
            putMultipart(formID, outputID, fileID, endpoint, redirect, false);
   	 	});

		const createSocialMediaLink = document.getElementById('create-social-form');
    	createSocialMediaLink.addEventListener('submit', (e) => {
      		e.preventDefault();

      		const formID = 'create-social-form';
      		const outputID = 'create-social-response';
      		const endpoint = '/api/socials/create';
			const redirect = '/account/manage';

			document.getElementById(outputID).innerHTML = "";
			postData(formID, outputID, endpoint, redirect, false);
   	 	});

        var loadFile = function(event) {
            var output = document.getElementById('user-avatar');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src)
            }
        };

		function YouTubeGetID(url){ /* https://stackoverflow.com/questions/3452546/how-do-i-get-the-youtube-video-id-from-a-url */
			let regex = /(?:youtube(?:-nocookie)?\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/
			if (url.match(regex)) {
				document.getElementById('update-video').value = url.match(regex)[1];
			}
		}
	</script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>