<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/account.css" rel="stylesheet">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<!-- BEGIN PROFILE SETTINGS-->
		<div class="container px-4 py-2" id="update-profile-header" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">MANAGE ACCOUNT</h2> 
			<h4 class="h4 mb-3 fw-normal" id="update-profile-response"></h4>
			<form class="updateProfile" action="/api/account/update">
                <div class="mb-4 d-flex justify-content-center">
                    <input type="file" id="avatar" class="avatar__input" name="avatar" accept="image/png, image/jpeg, image/gif, image/jpg" value="Upload Picture" onchange="loadFile(event)">
                    <label for="avatar" class="avatar">
                        <div class="img-overlay">
                            <img src="<%= locals.session.makerAvatar %>" alt="Avatar" id="user-avatar" class="avatar">
                        </div>
                    </label>
                </div>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-firstname" name="update-firstname" placeholder="Jane" maxlength="254" value="<%= clean(locals.account.first_name) %>" required>
					<label for="update-firstname">First name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-lastname" name="update-lastname" placeholder="Doe" maxlength="254" value="<%= clean(locals.account.last_name) %>" required>
					<label for="update-lastname">Last name</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="text" class="form-control" id="update-video" name="update-video" placeholder="tgbNymZ7vqY" maxlength="254" oninput="YouTubeGetID(document.getElementById('update-video').value)" value="<%= clean(locals.account.video_link) %>">
					<label for="update-video">Video introduction code (YouTube link)</label>
				</div>
				<br>
                <div class="form-floating">
					<textarea class="form-control" id="update-biography" name="update-biography" placeholder="Biography" rows="10" maxlength="1000" style="resize: none; height:100%; white-space: pre-wrap; overflow-wrap: break-word;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'><%= clean(locals.account.biography, {wordwrap: false, preserveNewlines: true,}) %></textarea>
                    <label for="update-biography">Biography</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Update Profile</button>
			  </form>
		</div>
		<!-- END PROFILE SETTINGS-->
		<br>
		<br>
		<!-- BEGIN SOCIAL SETTINGS-->
		<div class="container px-4 py-2" id="update-socials-header" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">MANAGE LINKS</h2> 
			<h4 class="h4 mb-3 fw-normal" id="create-social-response"></h4>
			<form class="createLink" action="/api/socials/create">
				<div class="form-floating">
					<input type="url" class="form-control" id="social-media-link" name="social-media-link" placeholder="Link" maxlength="255">
					<label for="social-media-link">Link</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Add Link</button>
				</form>
				<br>
				<% if (locals.links.length > 0) { %>
					<table id="link-table">
					<tr>
						<th>URL</th>
						<th>Action</th>
					</tr>
					<% locals.links.forEach(link => { %>
						<tr id="<%= link.id %>">
							<td><%= clean(link.url) %></td>
							<td><form class="actionDelete" id="<%= link.id %>" action="/api/socials/delete"><button class="btn btn-dark w-100 py-2">DELETE</button></form></td>
						</tr>
					<% }) %>
					</table>
				<% } else { %>
					<table id="link-table" hidden>
						<tr>
							<th>URL</th>
							<th>Action</th>
						</tr>
					</table>
				<% } %>
		</div>
		<!-- END SOCIAL SETTINGS-->
  	</div>
 	<!-- END PAGE CONTENT-->

	<!-- Include scripts-->
	<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>

		// INTERCEPT UPDATE PROFILE
		$(document).on('submit', '.updateProfile', async (e) => {
			e.preventDefault();

			axios.put(e.target.action, new FormData(e.target), { headers: { 'Content-Type': 'multipart/form-data' } }).then((response) => {
    			$('#update-profile-response').empty().show().html(`<div class="response-success"><i class="fa-solid fa-circle-check"></i> ${response.data.response}`).delay(4000).fadeOut(300);
  			}).catch((error) => {
    			$('#update-profile-response').empty().show().html(`<div class="response-success"><i class="fa-solid fa-circle-check"></i> ${error.data.response.error}`).delay(4000).fadeOut(300);
  			});
		});

		// INTERCEPT CREATE LINK FORM
		$(document).on('submit', '.createLink', async (e) => {
			e.preventDefault();

			const args = {};
			const formData = new FormData(e.target);

			// Backend expects form data as key-value pairs
			formData.forEach((value, key) => { args[key] = value; });

			axios.post(e.target.action, args).then( async (response) => {
				$('#create-social-response').empty().show().html(`<div class="response-success"><i class="fa-solid fa-circle-check"></i> Successfully added ${response.data.link}`).delay(4000).fadeOut(300);
				$('#link-table').removeAttr('hidden').show();
				$('#link-table').append(`<tr><td>${response.data.link}</td><td><button class="btn btn-dark w-100 py-2" onclick="window.location.href='/socials/delete/${response.data.id}';">DELETE</button></td></tr>`);
  			}).catch((error) => {
				$('#create-social-response').empty().show().html(`<div class="response-error"><i class="fa-solid fa-triangle-exclamation"></i> ${error.response.data.error}`).delay(4000).fadeOut(300);
  			});
		});

		// INTERCEPT DELETE ACTION
		$(document).on('submit', '.actionDelete', async (e) => {
			e.preventDefault();

			axios.delete(e.target.action, {data: {linkID: e.target.id}}).then((response) => {
				console.log('DELETED!');
				$(`#${e.target.id}`).remove();
    			$('#create-social-response').empty().show().html(`<div class="response-success"><i class="fa-solid fa-circle-check"></i> ${response.data.response}`).delay(4000).fadeOut(300);
  			}).catch((error) => {
    			$('#create-social-response').empty().show().html(`<div class="response-error"><i class="fa-solid fa-triangle-exclamation"></i> ${error.response.data.error}`).delay(4000).fadeOut(300);
  			});
		});

		// DISPLAY THE SELECTED AVATAR IMAGE ON THE PAGE
        var loadFile = function(e) {
			if (e.target.files[0].type.includes('image/')) {
				var output = document.getElementById('user-avatar');
            	output.src = URL.createObjectURL(e.target.files[0]);
            	output.onload = function() {
                	URL.revokeObjectURL(output.src)
            	}
			}
        };

		// CONVERT YOUTUBE LINKS INTO THE APPROPRIATE VIDEO ID
		function YouTubeGetID(url){ /* https://stackoverflow.com/questions/3452546/how-do-i-get-the-youtube-video-id-from-a-url */
			let regex = /(?:youtube(?:-nocookie)?\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/
			if (url.match(regex)) {
				document.getElementById('update-video').value = url.match(regex)[1];
			}
		}
	</script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>