<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/makerprofile.css" rel="stylesheet">
	<link href="/css/boom-lightbox.1.0.0.min.css" rel="stylesheet">
	<%- include("../partials/header") %>
	<script type="text/javascript" src="/js/boom-lightbox.1.0.0.min.js"></script>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<!-- BEGIN PROFILE-->
		<div class="container px-4 py-2" id="profile" data-aos="fade-right">
			<% if (Number(locals.account.account_verified)) { %>
				<h2 class="pb-1 border-bottom">ABOUT <%= locals.account.first_name.toUpperCase() %></h2>
				<div class="card mb-3" style="border: none;">
					<div class="row g-0">
					<div class="col-md-2 py-4">
						<img src="data:image/png;base64,<%= locals.account.avatar %>" alt="Avatar" id="user-avatar" class="avatar img-fluid rounded-start">
					</div>
					<div class="col-md-10">
						<div class="card-body">
							<p class="card-text" style="white-space: pre-wrap"><%= clean(locals.account.biography, {wordwrap: false, preserveNewlines: true,}) %></p>
							<p class="card-text"><small class="text-body-secondary">
								<% if (locals.account.facebook) { %>
									<a href="<%= clean(locals.account.facebook) %>" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
								<% } %>
								<% if (locals.account.twitter) { %>
									<a href="<%= clean(locals.account.twitter) %>" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
								<% } %>
								<% if (locals.account.instagram) { %>
									<a href="<%= clean(locals.account.instagram) %>" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
								<% } %>
								<% if (locals.account.reddit) { %>
									<a href="<%= clean(locals.account.reddit) %>" target="_blank"><i class="fa-brands fa-reddit fa-xl"></i></a>
								<% } %>
								<% if (locals.account.youtube) { %>
									<a href="<%= clean(locals.account.youtube) %>" target="_blank"><i class="fa-brands fa-youtube fa-xl"></i></a>
								<% } %>
								<% if (locals.account.tiktok) { %>
									<a href="<%= clean(locals.account.tiktok) %>" target="_blank"><i class="fa-brands fa-tiktok fa-xl"></i></a>
								<% } %>
								<% if (locals.account.pinterest) { %>
									<a href="<%= clean(locals.account.pinterest) %>" target="_blank"><i class="fa-brands fa-pinterest fa-xl"></i></a>
								<% } %>
								<% if (locals.account.twitch) { %>
									<a href="<%= clean(locals.account.twitch) %>" target="_blank"><i class="fa-brands fa-twitch fa-xl"></i></a>
								<% } %>
								<% if (locals.account.linkedin) { %>
									<a href="<%= clean(locals.account.linkedin) %>" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
								<% } %>
								<% if (locals.account.website) { %>
									<a href="<%= clean(locals.account.website) %>" target="_blank"><i class="fa-solid fa-link fa-xl"></i></a>
								<% } %>
							</small></p>
						</div>
					</div>
					</div>
				</div>
			<% } else { %>
				<h2 class="pb-1 border-bottom">Unverified Account</h2>
				<div class="card mb-3" style="border: none;">
					<div class="row g-0">
					<div class="col-md-2 py-4">
						<img src="/images/profile.png" alt="Avatar" id="user-avatar" class="avatar img-fluid rounded-start" style="background-color: #000000;">
					</div>
					<div class="col-md-10">
						<div class="card-body">
							<p class="card-text" style="white-space: pre-wrap">This maker has not been verified by GSMM staff.</p>
							<p class="card-text"><small class="text-body-secondary">Unverified accounts are not permitted to share profile details</small></p>
						</div>
					</div>
					</div>
				</div>
			<% } %>
		</div>
		<!-- END PROFILE-->
		<br>
		<br>

		<% if (Number(locals.account.account_verified)) { %>
			<!-- BEGIN FEATURED PRODUCTS-->
			<div class="container px-4 py-2" id="products" data-aos="fade-right">
				<h2 class="pb-1 border-bottom"><%= locals.account.first_name.toUpperCase() %>'S PRODUCTS</h2>
				<p><%= locals.account.first_name.charAt(0).toUpperCase() + locals.account.first_name.slice(1); %>&nbsp; does not have any products to display</p>
			</div>
			<!-- END FEATURED PRODUCTS-->
		<% } %>
  </div>
 	<!-- END PAGE CONTENT-->

	<% if (Number(locals.account.account_verified) && locals.account.video_link !== "" && locals.account.video_link !== null) { %>
		<!-- BEGIN LIGHTBOX DIV-->
		<div id="divResponsive" class="boom-lightbox" style="display: none;">
			<iframe id="ytplayer" width="100%" height="100%" src="https://www.youtube.com/embed/<%= locals.account.video_link %>?autoplay=0&mute=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<!-- END LIGHTBOX DIV-->
	<% } %>

	<!-- Include scripts-->
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			// Use local storage to see if this specific profile has been visited before or not
			var profileVisited = localStorage.getItem('<%= locals.account.email %>');
			if (profileVisited == null) {
				if ('<%= locals.account.account_verified %>' === 'true' && '<%= locals.account.video_link %>' !== "" && '<%= locals.account.video_link %>' !== null) {
					localStorage.setItem('<%= locals.account.email %>', 1)
					boomLightBoxInit([{ /* https://github.com/boominteractive/boom-lightbox */
						selector: 'divResponsive',
						configs: { width: '60%', height: '60%'}
					}]);
					document.getElementById('divResponsive').style = 'display: block;';
				}
			}
		});
	</script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>