<div id="featuredContent" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#featuredContent" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

    <!-- Create slides for featured makers-->
    <% if (locals.featured.length > 0) { %>
      <% let counter = 1; %>
      <% locals.featured.forEach(maker => { %>
        <button type="button" data-bs-target="#featuredContent" data-bs-slide-to="<%= counter %>" aria-label="Slide <%= counter + 1 %>"></button>
        <% counter += 1; %>
      <% }) %>
    <% } %>

  </div>
  <div class="carousel-inner">

    <div class="carousel-item active" style="background: url('/images/placeholder.png'); background-repeat: no-repeat;  background-size: cover; background-position: center center;">      <div class="container">
        <div class="carousel-caption feature-overlay">
          <h1>Become a GSMM Vendor</h1>
          <p>The Graduate Student's Maker's Market (GSMM) hosts monthly markets to help promote and advertise student products and services.</p>
          <p><a class="btn btn-lg btn-light" href="/application">START APPLICATION</a></p>
        </div>
      </div>
    </div>

    <!-- Populate slides for featured makers -->
    <% if (locals.featured.length > 0) { %>
      <% locals.featured.forEach(maker => { %>
        <div class="carousel-item" style="background: url('<%= maker.featured_background %>'); background-repeat: no-repeat; background-size: cover; background-position: top top;">
          <div class="container">
            <div class="carousel-caption feature-overlay">
              <h1><%= clean(maker.first_name.toUpperCase()) %> <%= clean(maker.last_name.toUpperCase()) %></h1>
              <% if (maker.biography != null) { %>
                <p class="card-text"><% if (maker.biography.length > 140) {%> <%= clean(maker.biography.slice(0, 140)) + "..." %> <% } else { %> <%= clean(maker.biography) %> <% } %></p>
              <% } else { %>
                <p class="card-text"><%= clean(maker.first_name.charAt(0).toUpperCase()) + clean(maker.first_name.slice(1)); %> has not filled out their biography</p>
              <% } %>
              <p><a class="btn btn-lg btn-light" href="/makers/<%= maker.id %>">VIEW MAKER PROFILE</a></p>
            </div>
          </div>
        </div>
      <% }) %>
    <% } %>

  <button class="carousel-control-prev" type="button" data-bs-target="#featuredContent" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#featuredContent" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>