<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("./partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("./partials/navigation") %>

	<!-- Include featured-->
	<%- include("./partials/featured") %>

	<!-- Include articles-->
	<%- include("./partials/articles") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<div class="container px-4 py-2" id="about-gsmm" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">GSMM Information</h2>
			<p>The Graduate Student's Maker's Market (GSMM) is a platform for the professional work of graduate students at the University of Arkansas in Fayetteville, Arkansas. This market offers a variety of services including workshops, consultations, and most importantly first hand experience and feedback. Each month we highlight the work of at least one maker who has completed our three part workshop series.</p>
		</div>

		<div class="container px-4 py-2" id="join-gsmm" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">Become a GSMM Vendor <a class="btn btn-sm btn-primary" href="#">START APPLICATION</a></h2>
			<p>The Graduate Student's Maker's Market (GSMM) will begin hosting monthly markets in January 2023 to help promote and advertise student products and services. Please fill out the form and submit your application. All products should be original products. If you have a website, please feel free to advertise your online products as well.</p>
		</div>
  </div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("./partials/footer") %>

</body>
</html>