<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("./partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("./partials/navigation") %>

	<!-- Welcome to the Graduate Student Maker's Market-->
	<div class="content-container content-wrap vh-100" style="background-image: url('/images/Welcome_bg.jpg'); background-size: cover;">
		<div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
              <h1 class="display-1 border-bottom" data-aos="zoom-in-down" data-aos-duration="1500">Welcome</h1>
              <ul class="list-inline">
				<li class="list-inline-item display-6" data-aos="zoom-in-up" data-aos-duration="1800">To</li>
				<li class="list-inline-item display-6" data-aos="zoom-in-up" data-aos-duration="1800">The</li>
			  </ul>
			  <br>
			  <br>
			  <ul class="list-inline">
				<li class="list-inline-item display-1" data-aos="fade-right" data-aos-duration="2000">Graduate </li>
				<li class="list-inline-item display-1" data-aos="fade-left" data-aos-duration="2000"> Student</li>
			</ul>
			<ul class="list-inline">
				<li class="list-inline-item display-1" data-aos="fade-right" data-aos-duration="3000">Maker's </li>
				<li class="list-inline-item display-1" data-aos="fade-left" data-aos-duration="3000"> Market</li>
			</ul>
            </div>
        </div>
			
	</div>

	<!-- Include featured-->
	<%- include("./partials/featured") %>

	<div class="container px-4 py-2"></div>

	<!-- Include articles-->
	<%- include("./partials/articles") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		
		<div class="container px-4 py-2"></div>
		
		<div class="container px-4 py-2 rounded-4" id="about-gsmm" data-aos="fade-right" style="background-color: beige;">
			<h2 class="pb-1 border-bottom">GSMM Information</h2>
			<p>The Graduate Student's Maker's Market (GSMM) is a platform for the professional work of graduate students at the University of Arkansas in Fayetteville, Arkansas. This market offers a variety of services including workshops, consultations, and most importantly first hand experience and feedback. Each month we highlight the work of at least one maker who has completed our three part workshop series.</p>
		</div>

		<div class="container px-4 py-2"></div>
  </div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("./partials/footer") %>

</body>
</html>