<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Based on the Startup3 template from https://bootstrap.build/ -->
		<!-- Modified for the Maker Market (Spring 23 Capstone) -->
		<meta charset="utf-8" >
		<title>Maker Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/images/favicon.png" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,600,500,700,800,900|Open+Sans:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="/css/style.css" rel="stylesheet" />
		<link href="/css/parallax_background.css" rel="stylesheet" />
		<link href="/css/artistPage.css" rel="stylesheet" />
		<link href="/css/profile.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	</head> 
<body>
  
<!-- Navigation Menu -->
<%- include("../partials/navigation") %>

<!-- Artist Profiles-->
<div class="row justify-content-center Artists">
	<!-- Render profile cards -->
	<% profiles.forEach((profile, index) => { %>
		<div class="item" data-aos="fade-up" data-aos-duration="2000">
			<div class="artistProfile"><img src="data:image/png;base64,<%= profile.avatar %>" alt="Profile Picture" height="200" width="200"></div>
			<div class="card">
				<!-- Display artist name-->
				<% if ((profile.firstname === null || profile.firstname === "") || (profile.lastname === null || profile.lastname === "")) { %>
					<h3><%= profile.artist %></h3>
				<% } else { %>	
					<h3><%= profile.firstname %> <%= profile.lastname %></h3>
				<% } %>

				<!-- Display artist bio-->
				<% if (profile.biography === null || profile.biography === "") { %>
					<p>This artist has not shared their story yet</p>
				<% } else { %>
					<p><%= profile.biography %></p>
				<% } %>
				<a href="/artists/profile/<%= profile.artist %>">Visit Profile</a>
			</div>
		</div>
	<% }) %>
</div>

<!-- Footer -->
<%- include("../partials/footer") %>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/animations.js"></script>

</body>
</html>